

@media screen {
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    body {
        margin: 0;
        border: none;
        line-height: 1;
        font-size: 1.25vw;
    }

    html {
        width: unset;
        margin: 0;
        border: none;
        line-height: 1;
        left: 0;
        right: 0;
        position: absolute;
        box-sizing: border-box;
        font-size: 18px;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    .full-width {
        border: none;
        margin: 64px auto 0 auto;
        box-sizing: content-box;
        overflow: hidden;
        position: relative;
    }

    .megatron {
        min-height: 100vh;
        background-color: rgba(128, 128, 128,.5);
        color: white;
    }

    .minitron {
        min-height: 70vh;
        color: black;
               background-color: rgba(128, 128, 128,.5);
    }

    .flexbox {
        display: flex;
    }
    .flexitem {

        margin: auto auto;

    }

    .banner {
        font-size: 10vh;
        height: inherit;
    }

    #welcome {
        background-image: url('class.gif');
        min-height: 100vh;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Team {
    }

    #Quote {
        background-image: url('Code.JPG');
        zoom: 1;
        clear: both;
        max-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #HomeContact {
        background-image: url('Code.JPG');
        zoom: 1;
        clear: both;
        max-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Technology {
    }

    #CallToAction {
        background-image: url('Code.JPG');
        zoom: 1;
        clear: both;
        max-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #AboutMVC {
    }




    .HomeMember {
        margin: 0 auto;
        background-color: white;
        color: black;
        font-size: 3vh;
        margin: 1vw auto;
        box-shadow: 0px 1px 1px 5px black inset;
        padding-bottom: 2vh;
    }

    .HomeMemberPicture {
        margin: .5vw auto;
        background-image: url('Code.JPG');
        width: 100%;
        height: 25vh;
        overflow: hidden;
        zoom: normal 1;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Team > .minitron {
        padding: 2vh 0;
        background-color: whitesmoke;
    }

    h4 {
        font-size: 1.25vw;
    }

    body {
        width: 100%;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 800px) {

    .HomeMemberPicture {
        height: 50vh;
    }

    .HomeMember {
        padding-bottom: 2vh;
        font-size: 10vw;
    }

    .banner {
        font-size: 6vh;
        padding: 1vh;
        height: inherit;
    }

    .full-width {
        width: 100vw;
    }

    h1 {
        font-size: 4vh;
    }

    body {
        font-size: 4vh;
    }

    h4 {
        font-size: 5vh;
    }

    .col-md-4 {
        margin: 4vh;
    }

    .minitron {
        min-height: 33vh;
    }
}
.contactForm{
    background-color: whitesmoke;
    padding: 1vw;
    width: 100%;
}
.message{
    width: 400px
    
}



