body {
}
body {
}

.megatron {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(128, 128, 128,.5);
    color: white;
}

.minitron {
    width: 100%;
    min-height: 70vh;
    ;
    color: black;
}

.flexbox {
    display: flex;
    height: 25%;
}

.flexitem {
    margin: auto auto;
    text-align: center;
}

.banner {
    font-size: 10vh;
}

#welcome {
    background-image: url('class.gif');
    zoom: 1;
    clear: both;
    min-width: 100vw;
    max-height: 100vh;
}

#Team {
}

#Quote {
    background-image: url('Code.JPG');
    zoom: 1;
    clear: both;
    width: 100%;
    max-height: 100vh;
}

#HomeContact {
    background-image: url('Code.JPG');
    zoom: 1;
    clear: both;
    width: 100%;
    max-height: 100vh;
}

#Technology {
}

#CallToAction {
    background-image: url('Code.JPG');
    zoom: 1;
    clear: both;
    width: 100%;
    max-height: 100vh;
}

#AboutMVC {
}



.HomeMember {
    height: 20vw;
    width: 15vw;
    margin: 0 auto;
    background-color: white;
    color: black;
    font-size: 3vh;
    margin: 1vw auto;
    box-shadow: 0px 1px 1px 5px black inset;
}

.HomeMemberPicture {
    margin: .5vw auto;
    background-image: url('Code.JPG');
    width: 100%;
    height: 14vw;
    overflow: hidden;
    zoom: normal 1;
}

#Team > .minitron {
    padding: 2vh 0;
    background-color: whitesmoke;
}
