@{
    ViewBag.Title = "Home Page";
}

<div id="welcome">

    <div class="megatron flexbox">
        <div class="flexitem">
            <div class="banner">Automagical Labs</div>
            <h1>EXPAND YOUR WEB PRESENCE AND FUNCTIONALITY<br />AT AN ULTRA-LOW COST</h1>
        </div>
    </div>
</div>
<section id="Team">
    <div class="minitron">
        <div class="container">
            <section class="row">
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem"> Brad T Knowles</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem"> James McDaniel</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">Jeff Bohnenblust</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">Luke Smith</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">Omar Abdulaziz</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">Seth Pearson</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">John Doe</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomeMember">
                        <div class="HomeMemberPicture"></div>
                        <div class="flexbox">
                            <div class="flexitem">John Doe</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="Quote">
    <div class="megatron flexbox">
        <div class="flexitem">
            <div class="container">
                <h1>“If there’s one thing you learn by working on a lot of different Web sites, it’s that almost any design idea–no matter how appallingly bad–can be made usable in the right circumstances, with enough effort.”  ― Steve Krug, Don’t Make Me Think: A Common Sense Approach to Web Usability</h1>
            </div>
        </div>
    </div>
</div>
<div id="Technology">
    <div class="minitron flexbox">
        <div class="flexitem">
            <div class="container">

            </div>
        </div>
    </div>
</div>
<div id="CallToAction">
    <div class="megatron flexbox">
        <div class="flexitem">
            <div class="container">
                <div class="banner">Have your next website built on Microsoft's latest technology</div>
                <h1>USE OUR DEVELOPMENT SKILLS TO EMPOWER YOUR USERS AND CLIENTS - WE PROVIDE USERS THE FEATURES THEY WANT AND WHERE THEY EXPECT THEM</h1>
            </div>
        </div>
    </div>
</div>
<div id="AboutMVC">
    <div class="minitron flexbox">
        <div class="flexitem">
            <div class="container">

            </div>
        </div>
    </div>
</div>
<div id="HomeContact">
    <div class="megatron flexbox">
        <div class="flexitem">
            <div class="container">

            </div>
        </div>
    </div>
</div>
